<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<style>
    .part {
        margin-top: 190px;
        margin-bottom: 15px
    }
</style>
<div class="container pt-3">
    <div class="part">
        <h1>Connect to the World</h1>
    </div>
    <form class="form-group" action="/login" method="POST">
        <div class="row">
            <div class="col-xs-3 ">
                <input type="text" name="emailId" id="emailId" class="form-control" placeholder="Enter your Email">
                </input></div>
            <div class="col-xs-3">
                <input type="password" name="password" id="password" class="form-control"
                    placeholder="Password"></input></div>
            <div class="col-xs-1"> <button class="btn btn-primary" type="submit">Login</button></div>

        </div><br />

    </form>
    <form action="/register" method="GET">
        <button type="submit" class="btn btn-primary">Create New Account</button>
    </form>


    <form action="/getAllList" method="GET">

        <button type="submit" class="btn">Get All Students</button>
    </form>
</div>